<div class="create-post-dialog">
  <div class="header">
    <div class="title">Create a post</div>
    <div class="close-button" (click)="closeDialog()">
      <i class="fa-solid fa-x"></i>
    </div>
  </div>

  <div class="body">
    <user-avatar></user-avatar>

    <textarea class="post-input" placeholder="What's on your mind?"></textarea>

    <div class="action-buttons">
      <div>Add to your post</div>
      <i class="fa-solid fa-images"></i>
    </div>

    <button class="primary post-button">Post</button>
  </div>
</div>