<div class="create-post-dialog">
  <div class="header">
    <div class="title">Create a post</div>
    <div class="close-button" (click)="closeDialog()">
      <mat-icon class="close-icon">close</mat-icon>
    </div>
  </div>

  <div class="body">
    <user-avatar [user]="currentUser"></user-avatar>

    <textarea class="post-input" [(ngModel)]="caption" placeholder="What's on your mind?"></textarea>

    <div class="images-container">
      @for (item of uploadFiles; track $index) {
        <div class="image-wrapper">
          <div class="close-button" (click)="removeImage($index)">
            <mat-icon class="close-icon">close</mat-icon>
          </div>
          <img [src]="objectURLs[$index]">
        </div>
      }
    </div>

    <div class="action-buttons">
      <div>Add to your post</div>
      <label for="file-input">
        <i class="fa-solid fa-images"></i>
      </label>
      <input id="file-input" type="file" accept="image/*" multiple hidden (change)="onFileSelected($event)">
    </div>

    <button class="primary post-button" (click)="createPost()">
      <app-loader [hidden]="!isLoading()"></app-loader>
      <span [hidden]="isLoading()">Post</span>
    </button>
  </div>
</div>