<div class="post-item">
  <div class="post-header">
    <user-avatar [user]="postData.user"></user-avatar>
    <i class="fa-solid fa-ellipsis"></i>
  </div>

  <div class="post-body">
    <div class="text-container">{{ postData.caption }}</div>
    <div class="image-container">
      @for (item of postData.contents; track $index) {
        <img [src]="item.linkContent">
      }
    </div>
  </div>

  <div class="action-buttons">
    <div class="left-section">
      <i class="fa-regular fa-heart"></i>
      <i class="fa-regular fa-comment-dots"></i>
      <i class="fa-regular fa-share-from-square"></i>
    </div>

    <div class="right-section">
      <i class="fa-regular fa-bookmark"></i>
    </div>
  </div>

  <div class="post-footer">
    <div class="comment-input-container">
      <user-avatar class="comment-avatar" [user]="currentUser" [showInfo]="false"></user-avatar>
      <input type="text" class="comment-input" placeholder="Write a comment...">
      <mat-icon color="primary" class="comment-button">send</mat-icon>
    </div>
  </div>
</div>