<div class="post-item">
  <div class="post-header">
    <user-avatar [user]="postData.user" [description]="timeDiff"></user-avatar>
    <i class="fa-solid fa-ellipsis"></i>
  </div>

  <div class="post-body">
    <div class="text-container">{{ postData.caption }}</div>
    <div class="image-container">
      @for (item of postData.contents; track $index) {
        <img [src]="item.linkContent">
      }
    </div>
  </div>

  <div class="action-buttons">
    <div class="left-section">
      <div class="like">
        <i [class.fa-regular]="!liked" [class.fa-solid]="liked" class="fa-heart" (click)="likePost()"></i>
        @if (postData.likeCount > 0) {
          <span class="count">{{ postData.likeCount }}</span>
        }
      </div>
      <div class="comment">
        <i class="fa-regular fa-comment-dots" (click)="onCommentButtonClick()"></i>
        @if (postData.commentCount > 0) {
          <span class="count">{{ postData.commentCount }}</span>
        }
      </div>
      <i class="fa-regular fa-share-from-square"></i>
    </div>

    <div class="right-section">
      <i class="fa-regular fa-bookmark"></i>
    </div>
  </div>

  @if (showComments) {
    <div class="post-footer">
      <div class="comment-container">
        @for (item of postComments(); track $index) {
          <div class="comment-item">
            <user-avatar [user]="item.user" [showInfo]="false"></user-avatar>
            <div class="comment-content">
              <div class="comment">
                <div class="user-name">{{ item.user?.fullName }}</div>
                <div class="text">{{ item.comment }}</div>
              </div>
              <div class="time-diff">{{ getTimeDiff(item.modifiedAt ?? item.createdAt) }}</div>
            </div>
          </div>
        }  
      </div>

      <div class="comment-input-container">
        <user-avatar class="comment-avatar" [user]="currentUser" [showInfo]="false"></user-avatar>
        <input #commentInput 
          type="text" 
          class="comment-input" 
          placeholder="Write a comment..." 
          [(ngModel)]="commentInputText"
          (keydown)="onCommentInputKeyPress($event)">
        <div class="comment-button" (click)="commentPost()">
          <mat-icon color="primary">send</mat-icon>
        </div>
      </div>
    </div>
  }
</div>