.message-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
  border-radius: 12px;

  .avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .message-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 60px);

    .user-name,
    .email {
      overflow: hidden;
      text-overflow: ellipsis;
      text-wrap: nowrap;
    }

    .message {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      color: var(--text-color-secondary);

      &.-unread {
        color: var(--info-color);
      }

      .content {
        max-width: calc(100% - 64px);
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
      }
    }

    .email {
      color: var(--text-color-secondary);
    }
  }
}