<div class="explore-page">
    <mat-tab-group mat-stretch-tabs="false" (selectedIndexChange)="onSelectedTabChange($event)">
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="tab-label flex items-center gap-2">
                    <mat-icon>newspaper</mat-icon>
                    <div>Posts</div>
                </div>
            </ng-template>
            <div class="flex flex-col gap-4 py-2">
                @if (initiated) {
                    @if (postItems().length === 0)
                    {
                        <div class="flex flex-col gap-4 self-center w-[50%] max-w-lg">
                            <img src="/imgs/empty/undraw_file-search_cbur.svg">
                            <div class="empty-message text-center text-xl">
                                Oops! Looks like we couldn’t find anything. Maybe try something else?
                            </div>
                        </div>
                    }
                    @else
                    {
                        @for (item of postItems(); track $index) {
                            <post-item [postData]="item"></post-item>
                        }
                        <app-loader class="self-center" [hidden]="!isLoading()"></app-loader>
                    }
                }
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="tab-label flex items-center gap-2">
                    <mat-icon>person</mat-icon>
                    <div>Users</div>
                </div>
            </ng-template>
            <div class="flex flex-col gap-4 py-2">
                @if (initiated) {
                    @if (userItems().length === 0)
                    {
                        <div class="flex flex-col gap-4 self-center w-[50%] max-w-lg">
                            <img src="/imgs/empty/undraw_file-search_cbur.svg">
                            <div class="empty-message text-center text-xl">
                                Oops! Looks like we couldn’t find anything. Maybe try something else?
                            </div>
                        </div>
                    }
                    @else
                    {
                        @for (item of userItems(); track $index) {
                            <user-item [userData]="item"></user-item>
                        }
                        <app-loader class="self-center" [hidden]="!isLoading()"></app-loader>
                    }
                }
            </div>
        </mat-tab>
    </mat-tab-group>
</div>