/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '../public/fontawesome/css/all.css';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary-hue: 252;
  --dark-color-lightness: 17%;
  --light-color-lightness: 95%;
  --white-color-lightness: 100%;

  --primary-color: hsl(var(--primary-hue), 100%, 60%);
  --secondary-color: hsl(var(--primary-hue), 50%, 80%);
  --tertiary-color: hsl(var(--primary-hue), 50%, 97%);
  --info-color: hsl(var(--primary-hue), 100%, 85%);
  --white-color: hsl(252, 30%, var(--white-color-lightness));
  --light-color: hsl(252, 30%, var(--light-color-lightness));
  --dark-color: hsl(252, 30%, var(--dark-color-lightness));

  --common-padding: 12px 16px;
  --common-padding-vertical: 16px 12px;
  --small-padding: 8px 12px;
  --common-border-radius: 12px;

  // override angular material variables
  --mdc-filled-button-container-color: var(--primary-color);

  --disabled-color: #E8E8E8;
  --disabled-dark-color: #CCCCCC;
  --error-color: #FFB3B3;
  --success-color: #90EE90;
  --warning-color: #FFD1A1;
  --text-color-primary: #ffffff;
  --text-color-secondary: #575757;
  --text-color-tertiary: #888888;
  --text-color-disabled: #CCCCCC;
  --text-color-error: #f02849;
  --text-color-success: #008000;
  --text-color-warning: #FFA500;

  @include mat.menu-overrides((container-color: var(--white-color)));
  @include mat.tabs-overrides((active-indicator-color: var(--primary-color),
      active-focus-indicator-color: var(--primary-color),
      active-hover-indicator-color: var(--primary-color)));
}

* {
  font-family: "Sour Gummy", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background: var(--light-color);
  color: var(--dark-color);
  padding: 0;
  margin: 0;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}

::-webkit-scrollbar-track {
  background-color: var(--light-color);
  border-radius: 4px;
}

input {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: transparent;
}

button {
  cursor: pointer;

  &.primary {
    color: var(--text-color-primary);
    background-color: var(--primary-color);
    padding: var(--common-padding);
    border: none;
    border-radius: 32px;
    min-width: 100px;
  }

  &.secondary {
    color: var(--text-color-primary);
    background-color: var(--secondary-color);
    border: none;
    padding: var(--common-padding);
    min-width: 100px;
    border-radius: 32px;
  }

  &.disabled {
    background-color: var(--disabled-color);
    border: none;
    padding: var(--common-padding);
    min-width: 100px;
    border-radius: 32px;
  }

  &:hover {
    opacity: 0.7;
  }
}

.custom-panel-dialog {
  .mat-mdc-dialog-surface {
    border-radius: 12px;
    background-color: var(--white-color);
  }

  &.--with-shadow {
    .mat-mdc-dialog-surface {
      box-shadow: 0 0 16px var(--secondary-color);
    }
  }
}

.custom-menu {
  .mat-mdc-menu-item {
    padding: var(--common-padding);

    .mat-mdc-menu-item-text {
      display: flex;
      gap: 12px;
    }
  }
}

.login-form mat-form-field {
  .mat-mdc-text-field-wrapper {
    border: none;
    border-radius: 12px;
    background: rgba($color: white, $alpha: 0.5);
    font-size: 20px;

    .mdc-floating-label {
      color: var(--text-color-primary);
    }
  }
}

@media screen and (max-width: 768px) {
  .mat-step-label {
    display: none !important;
  }
}