<div class="request-item">
  <user-avatar [user]="requestData.user"></user-avatar>

  @if (!showNotification()) {
    <div class="action-buttons">
      <button class="primary" (click)="acceptRequest()">Accept</button>
      <button class="disabled" (click)="declineRequest()">Decline</button>
    </div>
  }

  @if (showNotification()) {
    <div class="notification-container">
      <mat-icon>{{ statusMessage() === 'accept' ? 'check' : 'close'}}</mat-icon>
      {{ notificationMessage()}}
    </div>
  }
</div>