.request-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: var(--white-color);
  padding: 12px;
  border-radius: 12px;

  .action-buttons {
    display: flex;
    gap: 12px;

    button {
      flex: 1;
    }
  }

  .notification-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: var(--light-color);
  }
}